[submodule "vendors/doctrine2"]
	path = vendors/doctrine2
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendors/Symfony/Components/ClassLoader"]
	path = vendors/Symfony/Components/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendors/Symfony/Component/ClassLoader"]
	path = vendors/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
