<?xml version="1.0"?>
<ruleset name="PHPCS Coding Standards for DMS">

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="colors" />

    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix"/>
        <exclude name="Squiz.Commenting.FunctionComment.ThrowsNoFullStop"/>
    </rule>
</ruleset>
