<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" verbose="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutTodoAnnotatedTests="true" beStrictAboutChangesToGlobalState="true">
  <coverage>
    <include>
      <directory suffix=".php">src/DMS</directory>
    </include>
    <report>
      <html outputDirectory="tests/_reports/coverage/" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="DMS Filter Suite">
      <directory>tests/DMS</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="tests/_reports/testdox/tests.txt"/>
    <testdoxHtml outputFile="tests/_reports/testdox/tests.html"/>
  </logging>
</phpunit>
