name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  php-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      COMPOSER_NO_INTERACTION: 1

    strategy:
      matrix:
        php: [8.2, 8.3]
        dependency-version: [--prefer-lowest, --prefer-stable]
        experimental: [false]

    name: P${{ matrix.php }} - ${{ matrix.dependency-version }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: pcov
        tools: composer
        extensions: pcov

    - name: Install dependencies
      run: |
        composer update ${{ matrix.dependency-version }} --prefer-dist --no-progress

    - name: Execute Unit Tests
      run: vendor/bin/phpunit
